<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/CSS/homepage/main.css') }}">
</head>

<body class="bg-secondary">

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Blog Project</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('homepage') }}">Wszystkie posty<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('posts_add') }}">Dodaj nowego posta<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% if app.user %}{% if not app.user.newsletter %}{{ path('user_join') }}{%  else%}{{ path('newsletter_delete') }}{% endif %}{% else %}{{ path('anon_join') }}{% endif %}">Newsletter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Zaloguj się</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('register') }}">Zarejestruj</a>
                </li>
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Wyloguj się</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>

<main>{% block body %}{% endblock %}</main>


<footer class="fixed-bottom text-muted bg-dark">
    <div class="container text-center my-2">
        <p>Copyrights &copy;: <a href="https://yellows.pl">yellows.pl</a></p>
    </div>
</footer>


<script src="{{ asset('assets/js/jquery-3.5.1/jquery-3.5.1.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap/bootstrap.bundle.js') }}"></script>
<script src="https://kit.fontawesome.com/b26e0d0c0b.js" crossorigin="anonymous"></script>
{% block javascripts %}{% endblock %}
</body>
</html>

