{% extends 'base.html.twig' %}
{% set flashesbag = app.flashes %}

{% block body %}
    <div class="container">
        <div class="row">

            {% if flashesbag.success is defined %}
                <div class="col-8 mx-auto bg-success border border-dark shadow rounded">
                    <p>{{ flashesbag.success[0] }}</p>
                </div>
            {% endif %}

            {% for post in posts %}
                <div class="col-5 mx-auto bg-white border border-dark shadow my-3 p-2">
                    <div class="d-inline-block">
                        {% if is_granted ("admin") %}{%  endif %}
                        <strong>Tytuł: {{ post.title }}</strong>
                        <p> <strong>Opis: </strong> {{ post.info }}</p>
                        <p><strong>Czas utworzenia posta: </strong>{{ post.adddate|date('Y:m:d H:i:s')}}</p>
                    </div>
                </div>
                <div class="d-inline-block float-right">

                    <a class="btn btn-outline-primary my-2" href="{{ path('see', {'id': post.id}) }}"><i class="fa-edit"></i></a>

                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}